

form(method="POST" action= action)

  div.list

    input(type="hidden" name="_csrf" value= token )
    each part in formSpec
      
      if part.type == 'text'
        div.field
          label(for= name)= part.label
          input(type= part.type, name= part.name, autocomplete= part.autocomplete )
        
      if part.type === 'email'
        div.field
          label(for= name)= part.label
          input(type= part.type, name= part.name, autocomplete= part.autocomplete )
        
      if part.type === 'captcha'
        label(for= name)= part.label
        div.captcha.field
          div.box  
            div.frame
              <object data="/sigmond" type="image/svg+xml"></object>
          div.answer
            span.space= '='
            input(type='text',name='sigmond')
          button.toggle.reset reset 
      
      if part.type == 'password' && part.name === 'password'
        div.field
          label(for= name)= part.label
          div.boundary
            input(type= part.type, name= part.name, autocomplete= part.autocomplete )
            button.toggle.show show
          
          div.meter
            div.status
            
      if part.type == 'password' && part.name !== 'password'
        div.field
          label(for= name)= part.label
          input(type= part.type, name= part.name, autocomplete= part.autocomplete )
          
          
  input(type="submit", name= "submit", value= submitLabel)
      
